<div class="column is-4">
    <div class="card">
        <header class="media-content has-text-centered py-2">
            <p class="title is-size-4 has-text-white py-2">{{ name }}</p>
            <p class="subtitle is-size-4 has-text-white pb-2"><span class="icon"><i class="fas fa-glasses"></i></span>
                {{ role }}
            </p>
        </header>

        <div class="card-content">
            <div class="content">
                <ul>
                    <li class="is-size-5">Employee ID #: {{ id }}</li>
                    <li class="is-size-5">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                    <li class="is-size-5">GitHub: <span class="icon"><i class="fa fa-github" aria-hidden="true"></i> <a
                                href="https://github.com/{{ gitHub }}" target="_blank"
                                rel="noopener noreferrer"></span>{{ gitHub }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>